# CPSC120: Bonus Program -  Pandas Series and DataFrame

In this programming assignment you will complete the following tasks with python.

In [12]:
import numpy as np

import pandas as pd

## Task 1: (Pandas: Series) 

Perform the following tasks with pandas Series:

1. Create a  Series from the list [7, 11, 13, 17]
2. Create a  Series with five elements that are all 100.0.
3. Create a  with 20 elements that are all random numbers in the range  0 to 100. Use method *describe* to produce the Series’ basic descriptive statistics.
4. Create a Series called  *temperatures* of the floating-point values 98.6, 98.9, 100.2, and 97.9. Using the  *index* keyword argument, specify the custom indices 'Julie', 'Charlie', 'Sam', and 'Andrea'.
5. Form a dictionary from the names and values in Part (d), then use it to initialize a Series.

In [13]:
# your source code below

**Expected Output**: 
1)
0     7
1    11
2    13
3    17
dtype: int64

2)
0    100.0
1    100.0
2    100.0
3    100.0
4    100.0
dtype: float64


3) # may not be same 
count    20.000000
mean     42.450000
std      27.124421
min       2.000000
25%      26.750000
50%      37.000000
75%      59.000000
max      99.000000
dtype: float64

4)
Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

5)
Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

## Task 2: 7.23(Pandas: DataFrames) 

Perform the following tasks with pandas DataFrames:
1. Create a  DataFrame named  *temperatures* from a dictionary of three temperature readings each for 'Maxine', 'James', and 'Amanda'.
2. Recreate the DataFrame *temperatures*  in Part (1) with custom indices using the  keyword argument and a list containing 'Morning', 'Afternoon', and 'Evening'.
3. Select from  *temperatures* the column of temperature readings for 'Maxine'.
4. Select from *temperatures* the row of 'Morning' temperature readings.
5. Select from *temperatures* the rows for  'Morning' and'Evening'  temperature readings.
6. Select from *temperatures* the columns of temperature readings for  'Amanda' and 'Maxine'.
7. Select from *temperatures* the elements for  'Amanda' and 'Maxine'  in the  'Morning' and 'Afternoon'.
8. Use the *describe* method to produce *temperatures*’ descriptive statistics.
9. Transpose *temperatures*.
10. Sort *temperatures* so that its column names are in alphabetical order.

In [14]:
temps = {
    'Maxine': [98.6, 96.9, 97.7], 
    'James': [98.9, 100.3, 101.1], 
    'Amanda': [98.5, 98.3, 98.7]
}

In [15]:
# 1. Create a DataFrame named temperatures from a dictionary of three temperature readings each for 'Maxine', 'James', and 'Amanda'.

**Expected Output**: 

1)
	Maxine	James	Amanda
0	98.6	98.9	98.5
1	96.9	100.3	98.3
2	97.7	101.1	98.7

In [16]:
# 2. Recreate the DataFrame temperatures in Part (1) with custom indices using the keyword argument and a list containing 'Morning', 'Afternoon', and 'Evening'.

**Expected Output**: 
2)

          Maxine	James	Amanda
Morning	     98.6	98.9	98.5
Afternoon	 96.9	100.3	98.3
Evening	     97.7	101.1	98.7

In [17]:
#3. Select from temperatures the column of temperature readings for 'Maxine'.

**Expected Output**: 

3)
Morning      98.6
Afternoon    96.9
Evening      97.7
Name: Maxine, dtype: float64

In [18]:
#4. Select from temperatures the row of 'Morning' temperature readings.

**Expected Output**: 

4)
Maxine    98.6
James     98.9
Amanda    98.5
Name: Morning, dtype: float64

In [19]:
# 5. Select from temperatures the rows for 'Morning' and'Evening' temperature readings.

**Expected Output**: 

5)
    	Maxine	James	Amanda
Morning	98.6	98.9	98.5
Evening	97.7	101.1	98.7

In [20]:
# 6. Select from temperatures the columns of temperature readings for 'Amanda' and 'Maxine'.

**Expected Output**: 

6)
	      Amanda	Maxine
Morning	   98.5	    98.6
Afternoon  98.3	    96.9
Evening	   98.7	    97.7

In [21]:
# 7. Select from temperatures the elements for 'Amanda' and 'Maxine' in the 'Morning' and 'Afternoon'.

**Expected Output**: 

7)
	      Amanda	Maxine
Morning	   98.5	    98.6
Afternoon  98.3	    96.9

In [22]:
# 8. Use the describe method to produce temperatures’ descriptive statistics.

**Expected Output**: 

8)
        	Maxine	  James	   Amanda
count	3.000000	3.000000	3.0
mean	97.733333	100.100000	98.5
std	    0.850490	1.113553	0.2
min	    96.900000	98.900000	98.3
25%	    97.300000	99.600000	98.4
50%	    97.700000	100.300000	98.5
75%   	98.150000	100.700000	98.6
max	    98.600000	101.100000	98.7

In [23]:
# 9. Transpose temperatures.

**Expected Output**: 

9)
	Morning	Afternoon	Evening
Maxine	98.6	96.9	97.7
James	98.9	100.3	101.1
Amanda	98.5	98.3	98.7

In [24]:
#  10. Sort *temperatures* so that its column names are in alphabetical order.

**Expected Output**: 

10)
	      Amanda	James	Maxine
Morning	   98.5	    98.9	98.6
Afternoon	98.3	100.3	96.9
Evening	    98.7	101.1	97.7